
/archive
/archive2
/ssd_mobilenet_v1_coco_11_06_2017
/ssd_mobilenet_v1_coco_11_06_2017.tar.gz
/cropped
working_model_clean_data/trafficlights
/.venv
/flower_test
/flower_venv
Assignment\Part2\checkpoints\